<!DOCTYPE html>

<html lang="en">

<body>
<h1>{{name}}</h1>
<br/>
<form action="/user/added" method="get">
    <fieldset>
        <input type="text" name="name" value="" placeholder="Имя"/>
        <input type="text" name="location" value="" placeholder="Локация"/>
        <input type="text" name="car_brand" value="" placeholder="Марка авто"/>
        <button>Добавить нового пользователя</button>
    </fieldset>
</form>
<br/>
<form action="/user/validate" method="get">
    <fieldset>
        <input type="text" name="id" value="" placeholder="id"/>
        <button>Авторизация пользователя</button>
    </fieldset>
</form>
<br/>
<form action="/service/added" method="get">
    <fieldset>
        <input type="text" name="name" value="" placeholder="Имя"/>
        <input type="text" name="location" value="" placeholder="Локация"/>
        <button>Добавить новый сервис</button>
    </fieldset>
</form>
<br/>
<form action="/service/validate" method="get">
    <fieldset>
        <input type="text" name="id" value="" placeholder="id"/>
        <button>Авторизация сервиса</button>
    </fieldset>
</form>
<br/>
<form action="/get/users" method="get">
    <button>Показать пользователей </button>
</form>
<br/>
<form action="/get/orders" method="get">
    <button>Показать заказы</button>
</form>
</body>
</html>